@page "{id}"
@model TopLearn.Web.Pages.Admin.Episode.CreateEpisodeModel
@{
    ViewData["Title"] = "بخش جدید";
}

<div class="row">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="CourseEpisode.CourseId"/>
        <div class="col-md-12">
            <h2>اطلاعات دوره</h2>
            <hr/>
            <div class="form-group">
                <label>عنوان بخش</label>
                <input type="text" asp-for="CourseEpisode.Title" class="form-control">
                <span asp-validation-for="CourseEpisode.Title"></span>
            </div>
            <div class="form-group">
                <label>زمان بخش</label>
                <input type="text" asp-for="CourseEpisode.Time" class="form-control">
                <span asp-validation-for="CourseEpisode.Time"></span>
            </div>
            <div class="form-group">
                <label>فایل بخش</label>
                <input type="file" name="fileEpisode">
                <p class="text-danger">فایل اجباری است</p>
                @if (ViewData["IsExistFile"] != null)
                {
                    <div class="alert alert-danger">
                        نام فایل معتبر نیست ، لطفا تغییر دهید
                    </div>
                }
                <span asp-validation-for="CourseEpisode.FileName"></span>
            </div>
            <div class="form-group">
                <label>دسترسی</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" asp-for="CourseEpisode.IsFree">
                        رایگان است
                    </label>
                </div>
                <input type="submit" value="ذخیره اطلاعات" class="btn btn-success"/>
            </div>
        </div>
    </form>
</div>

