@page
@model TopLearn.Web.Pages.Admin.Courses.CreateCourseModel
@{
    ViewData["Title"] = "افزودن دوره جدید";
}

<div class="row">
    <form method="post" enctype="multipart/form-data">
        <div class="col-md-8">
            <h2>اطلاعات دوره</h2>
            <hr />
            <div class="form-group">
                <label>عنوان دوره</label>
                <input type="text" asp-for="Course.Title" class="form-control">
                <span asp-validation-for="Course.Title"></span>
            </div>
            <div class="form-group">
                <label>گروه اصلی</label>
                <select class="form-control" asp-for="Course.GroupId" asp-items="@(ViewData["Groups"] as SelectList)"></select>
                <span asp-validation-for="Course.GroupId"></span>
            </div>
            <div class="form-group">
                <label>زیر گروه</label>
                <select class="form-control" asp-for="Course.SubGroupId" asp-items="@(ViewData["SubGroups"] as SelectList)"></select>
                <span asp-validation-for="Course.SubGroupId"></span>
            </div>
            <div class="form-group">
                <label>مدرس دوره</label>
                <select class="form-control" asp-for="Course.TeacherId" asp-items="@(ViewData["Teachers"] as SelectList)"></select>
                <span asp-validation-for="Course.TeacherId"></span>
            </div>
            <div class="form-group">
                <label>شرح دوره</label>
                <textarea class="form-control" asp-for="Course.Description" rows="10"></textarea>
                <span asp-validation-for="Course.Description"></span>
            </div>
            <div class="form-group">
                <label>قیمت دوره</label>
                <input type="number" asp-for="Course.Price" value="0" class="form-control" />
                <span asp-validation-for="Course.Description"></span>
            </div>
            <div class="form-group">
                <label>فایل دمو دوره</label>
                <input type="file" name="demoFile">
                <span asp-validation-for="Course.Title"></span>
            </div>
            <div class="form-group">
                <label>کلمات کلیدی دوره</label>
                <input type="text" asp-for="Course.Tags" class="form-control">
                <p class="help-block">کلمات را با - جدا کنید</p>
                <span asp-validation-for="Course.Title"></span>
            </div>
            <input type="submit" value="ذخیره اطلاعات" class="btn btn-success" />
        </div>
        <div class="col-md-4">
            <p></p>
            <img id="imgCourse" class="thumbnail" style="width:30%; height: 30%;" src="/UserAvatar/DefaultAvatar.jpg" />
            <div class="form-group">

                <label>انتخاب تصویر</label>
                <input type="file" name="imgCourse" id="imgCourseUp">
            </div>
            <div class="form-group">
                <label>سطح دوره</label>
                <select class="form-control" asp-for="Course.CourseLevel" asp-items="Model.CourseLevels"></select>
                <span asp-validation-for="Course.CourseLevel"></span>
            </div>
            <div class="form-group">
                <label>وضعیت دوره</label>
                <select class="form-control" asp-for="Course.CourseStatus" asp-items="Model.CourseStatuses"></select>
                <span asp-validation-for="Course.CourseStatus"></span>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    <script>
        $("#Course_GroupId").change(function() {
            $("#Course_SubGroupId").empty();
            $.getJSON("/home/GetSubGroups/" + $("#Course_GroupId :selected").val(),
                function(data) {

                    $.each(data,
                        function() {
                            $("#Course_SubGroupId").append('<option value=' + this.value + '>' + this.text + '</option>');

                        });

                });


        });

        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgCourse').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgCourseUp").change(function () {
            readURL(this);
        });
    </script>

    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    <script>

        CKEDITOR.replace('Course_CourseDescription', {
            customConfig: '/js/Config.js'
        });

    </script>
}
